.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  flex-basis: 100%;
}

.flex-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

@media screen and (width <= 375px) {
  .column-half {
    flex-basis: 100%;
  }

  li {
    flex-direction: column;
  }

  p {
    font-size: 14px;
  }
}

@media screen and (width >= 768px) {
  .container {
    max-width: 900px;
  }

  li {
    flex-direction: row;
  }

  .padding-lr {
    padding: 0 0.75rem;
  }

  .column-half {
    flex-basis: 50%;
  }
}
