/* Header */

.header-bg {
  background-color: #4c2676;
}

.header-text {
  color: #fff;
}

/* Form */

.form-img {
  max-width: 100%;
}

.save-btn {
  background-color: #4c2676;
  color: #fff;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.notes-label {
  padding-top: 1rem;
}
