label,
input,
textarea {
  display: block;
}

input,
textarea {
  width: 100%;
}

input {
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

label {
  margin-bottom: 1rem;
}

button {
  margin-top: 0.5rem;
}

.bold {
  font-weight: bold;
}

/* Header */

.header-bg {
  background-color: #4c2676;
}

.header-text {
  color: #fff;
}

.smaller-header-text > a {
  color: #fff;
  margin-left: 0.5rem;
  text-decoration: none;
}

/* Form */

.form-img {
  max-width: 100%;
}

.save-btn {
  background-color: #4c2676;
  color: #fff;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.notes-label {
  padding-top: 1rem;
}

.delete-btn {
  padding: 0;
  background-color: #fff;
  border: none;
  color: #f8110f;
  text-decoration: underline;
}

/* Entries */

.new-btn {
  background-color: #4c2676;
  color: #fff;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  cursor: pointer;
}

.entry-img {
  max-width: 100%;
}

.entries-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.entries-link {
  cursor: pointer;
}

/* Modal */

dialog {
  background-color: #fff;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.confirm-btn {
  background-color: #dc2625;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.cancel-btn {
  background-color: #b6b6b6;
  color: #292929;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
